rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /codigos/{invitationId} {
      allow get: if request.auth != null;
      allow list, create, update, delete: if false;
    }

    match /respuestas/{responseId} {
      allow read, write: if false;
    }

    match /palabrasClave/{entryId} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}